<mat-card>
  <mat-card-title>Menus (dropdowns)</mat-card-title>
  <mat-card-subtitle>mat-menu is a list of options that displays when triggered.</mat-card-subtitle>
<hr>
  <mat-card-content>
    <p>You clicked on: {{ selected }}</p>
  </mat-card-content>
  <mat-toolbar>
    <button mat-icon-button [mat-menu-trigger-for]="menu" aria-label="Open basic menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of items" (click)="select(item.text)" [disabled]="item.disabled">
      {{ item.text }}
    </button>
  </mat-menu>

  <mat-card-content>
    <p> Clicking these will navigate:</p>
  </mat-card-content>
  <mat-toolbar>
    <button mat-icon-button [mat-menu-trigger-for]="anchorMenu" aria-label="Open anchor menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #anchorMenu="matMenu">
    <a mat-menu-item *ngFor="let item of items" href="http://www.google.com" [disabled]="item.disabled">
      {{ item.text }}
    </a>
  </mat-menu>

  <mat-card-content>
    <p>Position x: before</p>
  </mat-card-content>
  <mat-toolbar class="end-icon">
    <button mat-icon-button [mat-menu-trigger-for]="posXMenu" aria-label="Open x-positioned menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #posXMenu="matMenu" class="before">
    <button mat-menu-item *ngFor="let item of iconItems" [disabled]="item.disabled">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.text }}
    </button>
  </mat-menu>

  <mat-card-content>
    <p>Position y: above</p>
  </mat-card-content>
  <mat-toolbar>
    <button mat-icon-button [mat-menu-trigger-for]="posYMenu" aria-label="Open y-positioned menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu y-position="above" #posYMenu="matMenu">
    <button mat-menu-item *ngFor="let item of items" [disabled]="item.disabled">
      {{ item.text }}
    </button>
  </mat-menu>
</mat-card>