<mat-card>
   <mat-card-content>
      <mat-card class="p-2 mb-2">
         <div fxLayout="row wrap" class="mb-3">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="profile-center">
               <div class="mb-1">
                  <img src="assets/images/userpic.jpg" width="100" height="100" alt="" class="radius-circle">
               </div>
               <h4 class="ma-0">John Doe</h4>
               <small>johndoe@johndoe.com</small>
               <p class="mt-xs mb-xs">Sr. Manager</p>
               <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
               <button mat-raised-button color="primary">Edit Profile</button>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="75" fxFlex.xl="75" class="content-data">
               <figure>
                  <mat-card-content>
                     <div fxLayout="row" class="text-xs-center">
                        <div fxFlex="33">
                           <h2 class="mt-0"><b>23,8K</b></h2>
                           <small>Followers</small>
                        </div>
                        <div fxFlex="33">
                           <h2 class="mt-0"><b>569</b></h2>
                           <small>Following</small>
                        </div>
                        <div fxFlex="33">
                           <h2 class="mt-0"><b>67</b></h2>
                           <small>Posts</small>
                        </div>
                     </div>
                  </mat-card-content>
                  <hr>
                  <mat-card-content>
                     <h6 class="mt-0">About</h6>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minima animi libero deserunt culpa cumque nobis quasi sequi fugit consequatur veniam dolore aliquam in expedita id voluptate, tenetur magni, a possimus laborum, vitae neque est, delectus commodi? Aspernatur, illum, sed. fugit consequatur veniam dolore aliquam in expedita id voluptate, tenetur magni, a possimus laborum, vitae neque est, delectus commodi? Aspernatur, illum, sed</p>
                  </mat-card-content>
               </figure>
            </div>
         </div>
      </mat-card>
      <mat-card class="p-2">
         <h4>Profile Settings</h4>
         <mat-tab-group class="mt-2">
            <mat-tab>
               <ng-template mat-tab-label>Home</ng-template>
               <h6><strong>Recent Added Images</strong></h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non omnis!</p>
               <mat-card-content class="px-0">
                  
                  <div fxLayout="row wrap">
                     <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" class="mat-pad mb-1">
                        <div class="hover-parent">
                           <img src="assets/images/unsplash/9.jpg" alt="Card image cap" />
                           <div class="hover-overlay">
                              <div class="hover-overlay-content">
                                 <h3 mat-line>Rest In Jungle</h3>
                                 <span mat-line>Travel</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" class="mat-pad mb-1">
                        <div class="hover-parent">
                           <img src="assets/images/unsplash/7.jpg" alt="Card image cap" />
                           <div class="hover-overlay">
                              <div class="hover-overlay-content">
                                 <h3 mat-line>Home</h3>
                                 <span mat-line>Still</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" class="mat-pad mb-1">
                        <div class="hover-parent">
                           <img src="assets/images/unsplash/8.jpg" alt="Card image cap" />
                           <div class="hover-overlay">
                              <div class="hover-overlay-content">
                                 <h3 mat-line>Rest In Jungle</h3>
                                 <span mat-line>Travel</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </mat-card-content>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>Activities</ng-template>
               <h6><strong>Activities</strong></h6>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non omnis!
               <mat-card-content class="px-0">
                  <div class="activity-stream">
                     <mat-card class="shadow-none">
                        <mat-card-header>
                           <img mat-card-avatar src="assets/images/face1.jpg">
                           <mat-card-title class="activity-head">Made a call</mat-card-title>
                           <mat-card-subtitle>Today</mat-card-subtitle>
                        </mat-card-header>
                     </mat-card>
                     <mat-card class="shadow-none">
                        <mat-card-header>
                           <img mat-card-avatar src="assets/images/avatar.jpg">
                           <mat-card-title class="activity-head">Update Profile</mat-card-title>
                           <mat-card-subtitle>July 10</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa perspiciatis repellat voluptate veritatis optio!</p>
                           <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                           <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                        </mat-card-content>
                     </mat-card>
                     <mat-card class="shadow-none">
                        <mat-card-header>
                           <img mat-card-avatar src="assets/images/avatar.jpg">
                           <mat-card-title class="activity-head">Update Profile</mat-card-title>
                           <mat-card-subtitle>July 10</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa perspiciatis repellat voluptate veritatis optio!</p>
                           <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                           <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                        </mat-card-content>
                     </mat-card>
                     <mat-card class="shadow-none">
                        <mat-card-header>
                           <img mat-card-avatar src="assets/images/avatar.jpg">
                           <mat-card-title class="activity-head">Update Profile</mat-card-title>
                           <mat-card-subtitle>July 10</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa perspiciatis repellat voluptate veritatis optio!</p>
                           <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                           <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                        </mat-card-content>
                     </mat-card>
                  </div>
               </mat-card-content>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>Friends</ng-template>
               <h6><strong>Friends</strong></h6>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non omnis!
               <mat-card-content class="px-0">
                  <div fxLayout="row wrap">
                     <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                        <mat-card>
                           <div class="friend-single">
                              <div class="card hovercard">
                                 <div class="cardheader">
                                 </div>
                                 <div class="avatar">
                                    <img alt="" src="assets/images/user-3.jpg">
                                 </div>
                                 <div class="info">
                                    <div class="title">
                                       <a target="_blank" href="#">Jebia Hriam</a>
                                    </div>
                                    <div class="desc">Passionate designer</div>
                                    <div class="desc">Curious developer</div>
                                    <div class="desc">Tech geek</div>
                                 </div>
                                 <div class="bottom">
                                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-behance"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </mat-card>
                     </div>
                     <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                        <mat-card>
                           <div class="friend-single">
                              <div class="card hovercard">
                                 <div class="cardheader">
                                 </div>
                                 <div class="avatar">
                                    <img alt="" src="assets/images/user-2.jpg">
                                 </div>
                                 <div class="info">
                                    <div class="title">
                                       <a target="_blank" href="#">Clodia White</a>
                                    </div>
                                    <div class="desc">Passionate designer</div>
                                    <div class="desc">Curious developer</div>
                                    <div class="desc">Tech geek</div>
                                 </div>
                                 <div class="bottom">
                                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-behance"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </mat-card>
                     </div>
                     <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                        <mat-card>
                           <div class="friend-single">
                              <div class="card hovercard">
                                 <div class="cardheader">
                                 </div>
                                 <div class="avatar">
                                    <img alt="" src="assets/images/user-1.jpg">
                                 </div>
                                 <div class="info">
                                    <div class="title">
                                       <a target="_blank" href="#">John Doe</a>
                                    </div>
                                    <div class="desc">Passionate designer</div>
                                    <div class="desc">Curious developer</div>
                                    <div class="desc">Tech geek</div>
                                 </div>
                                 <div class="bottom">
                                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                                    <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                                    <i class="fa fa-behance"></i>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </mat-card>
                     </div>
                  </div>
               </mat-card-content>
            </mat-tab>
         </mat-tab-group>
      </mat-card>
   </mat-card-content>
</mat-card>

