body .silk-icon-display mat-icon {
  font-size: 50px !important;
  height: 50px !important;
  width: 50px !important;
  margin: 24px 16px 8px !important;
  color: #333;
}

.silk-mat-tab{
   .mat-tab-body-content{
      padding:2rem 0 0;
      min-height: 200px;
   }
}
.tab-center{
   padding-top: 3rem;
   .mat-icon{
      font-size: 3rem;
   }
 code {
  background: #f0f2f9 none repeat scroll 0 0;
  padding: 8px;
}
}
