<p>statistical works!</p>
<div class="chart-wrapper">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>
<div class="chart-wrapper">
<canvas baseChart
        [datasets]="barChartData1"
        [labels]="barChartLabels1"
        [options]="barChartOptions1"
        [plugins]="barChartPlugins1"
        [legend]="barChartLegend1"
        [chartType]="barChartType1">
</canvas>
</div>
