<mat-card>
  <mat-card-title>Cards</mat-card-title>
  <mat-card-subtitle>mat-card is a content container component that conforms to the spec of a Material Design card.</mat-card-subtitle>
  <hr>
  <mat-card-content>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

    <mat-card class="mb-2">
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <mat-card-title>Card with title and footer</mat-card-title>
      <mat-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
     
    </mat-card>
    <mat-card class="mat-card-flat mb-2">
      <mat-card-title>Easily customizable</mat-card-title>
      <mat-card-actions>
        <button mat-button>First</button>
        <button mat-button>Second</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mb-2">
      <mat-card-title>Standard Card</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <hr>
      <mat-card-content>
        <p>Standard card with content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <button mat-button color="accent">Action</button>
        <button mat-button>Cancel</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mb-2 example-card">
      <mat-card-header>
        <img mat-card-avatar src="assets/images/avatar.jpg">
        <mat-card-title>Header title</mat-card-title>
        <mat-card-subtitle>Header subtitle</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/coridoor.jpg">
      <mat-card-content>
        <p>Here is some more content</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-2 example-card">
       <mat-card-title-group>
          <img width="60"  src="assets/images/curve.jpg">
          <mat-card-title>Card with title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
       </mat-card-title-group>
    </mat-card>
  </mat-card-content>
</mat-card>