<mat-card>
  <mat-card-title>Tooltips</mat-card-title>
  <mat-card-subtitle>Tooltip allows the user to specify text to be displayed when the mouse hovers over an element.</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <button class="mr-2" #tooltip="matTooltip"
            mat-raised-button
            color="primary"
            [matTooltip]="message"
            [matTooltipPosition]="position"
            [matTooltipDisabled]="disabled"
            [matTooltipShowDelay]="showDelay"
            [matTooltipHideDelay]="hideDelay"
            [matTooltipClass]="{'red-tooltip': showExtraClass}">
      Mouse over to see the tooltip
    </button>

    <mat-radio-group [(ngModel)]="position">
      <mat-radio-button value="below">Below</mat-radio-button>
      <mat-radio-button value="above">Above</mat-radio-button>
      <mat-radio-button value="left">Left</mat-radio-button>
      <mat-radio-button value="right">Right</mat-radio-button>
      <mat-radio-button value="before">Before</mat-radio-button>
      <mat-radio-button value="after">After</mat-radio-button>
    </mat-radio-group>

    <p>
      <strong>Message: </strong>
      <mat-form-field style="width: 100%">
        <input matInput type="text" [(ngModel)]="message">
      </mat-form-field>
    </p>

    <p>
      <strong>Show Delay (ms): </strong>
      <mat-form-field style="width: 100%">
        <input matInput type="number" [(ngModel)]="showDelay">
      </mat-form-field>
    </p>

    <p>
      <strong>Hide Delay (ms): </strong>
      <mat-form-field style="width: 100%">
        <input matInput type="number" [(ngModel)]="hideDelay">
      </mat-form-field>
    </p>

    <div class="mb-1"><strong>Mouse over to</strong></div>
    <button class="mr-1" mat-raised-button color="primary" (mouseenter)="tooltip.show()">
      Show tooltip
    </button>
    <button class="mr-1" mat-raised-button color="primary" (mouseenter)="tooltip.hide(0)">
      Hide tooltip
    </button>
    <button class="mr-1" mat-raised-button color="primary" (mouseenter)="tooltip.toggle()">
      Toggle tooltip
    </button>
  </mat-card-content>
</mat-card>
