<mat-card class="demo-dialog-card">
  <mat-card-title>Dialog</mat-card-title>
  <mat-card-subtitle>matDialog is a service, which opens dialogs components in the view.</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="open()">Open dialog</button>

    <p>Dialog dimensions</p>
    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.width" placeholder="Width">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.height" placeholder="Height">
    </mat-form-field>
    
    <p>Dialog position</p>

    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.position.top" (change)="config.position.bottom = ''" placeholder="Top">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.position.bottom" (change)="config.position.top = ''" placeholder="Bottom">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.position.left" (change)="config.position.right = ''" placeholder="Left">
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <input matInput [(ngModel)]="config.position.right" (change)="config.position.left = ''" placeholder="Right">
    </mat-form-field>

    <p>Other options</p>
    <mat-checkbox [(ngModel)]="config.disableClose">Disable close</mat-checkbox>

    <p>Last close result: {{lastCloseResult}}</p>
  </mat-card-content>
</mat-card>
