//colors
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$black_30: rgba(0, 0, 0, 0.3);
$color_red_orange_approx: #f44336;
$black_60: rgba(0, 0, 0, 0.6);
.user-content {
    padding: 2rem 1.5rem;
}

.user-list-card {
    background: $white;
    box-shadow: 0 2px 6px $black_10;
    transition: all 0.3s ease-in-out 0s;
    &:hover {
        box-shadow: 0 0 21px $black_30;
    }
}

.user-name {
    font-size: 1.2rem;
}

.user-card-cover {
    padding: 4rem 1rem;
    position: relative;
    background-size: cover;
}

.user-thumb {
    position: absolute;
    bottom: -35%;
    img {
        border: 5px solid $white;
        border-radius: 100%;
        height: 75px;
        width: 75px;
    }
}

.btn-red {
    background-color: $color_red_orange_approx;
    color: $white;
    border: 1px solid $color_red_orange_approx;
}

.user-card-stats {
    margin-bottom: 0;
    li {
        display: inline-block;
        a {
            color: $black_60;
            font-size: 1rem;
            font-weight: bold;
            padding: 0 0.3rem;
        }
    }
}

.user-list-wrapper>.user-card-w {
    padding: 1rem;
}