

<div class="pricing-table">
<div fxLayout="row wrap" >
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">important_devices</i>
         <h1>Ui design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">199 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">perm_identity</i>
         <h1>Ux design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">399 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">art_track</i>
         <h1>Print design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">999 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">art_track</i>
         <h1>Mega design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">999 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">art_track</i>
         <h1>Premium design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">999 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
   <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" class="m-gap p-gap">
      <div class="pricing-option p-2">
         <i class="material-icons">art_track</i>
         <h1>Advanced design</h1>
         <hr />
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
         <hr />
         <div class="price">
            <div class="front">
               <span class="price">999 <b>$</b></span>
            </div>
            <div class="back">
               <a href="#" class="button">Purchase now</a>
            </div>
         </div>
      </div>
   </div>
</div>

